<a href='#' id='login'>Login</a>
<form id='loginForm' action='/users/sign_in' method='post'>
  <div>
    <label for='user_email'>Email</label>
    <br/>
    <input type='text' name='user_email'></input>
  </div>
  <div>
    <label for='user_password'>Password</label>
    <br/>
    <input type='text' name='user_password'></input>
  </div>
  <div>
    <input type='submit' id='sign_in' name='sign_in' value='Sign in'></input>
  </div>
</form>
